:root {
  --primary-color: black;
}

html {
  scroll-behavior: smooth;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: white;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 20px;
}

header{
  background: var(--dark-bg);
  color: white;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 103, 143);
  padding: 15px;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li a{
  color: white;
  text-decoration: none;
  margin-left: 20px;
  margin: 20px;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover{
  color: var(--primary-color);
}

.about-content{
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.about-text{
  flex: 1;
  min-width: 300px;
  text-align: justify;
}

.profile-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink:0;
  border: 5px solid #00678f;
}

body {
  font-family: Arial, sans-serif;
  background-color: #134758;
  margin: 0;
  padding: 0;
}

section#habilidades {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

section#habilidades h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

/* Layout lado a lado */
.container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

/* Coluna das habilidades */
.skills {
  flex: 1;
}

.skill {
  margin-bottom: 20px;
}

.skill p {
  margin: 0 0 8px;
  font-weight: bold;
  color: #444;
}

.progress-bar {
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
}

.progress {
  height: 100%;
  text-align: right;
  padding-right: 5px;
  color: white;
  font-size: 12px;
  line-height: 20px;
  transition: width 1.5s ease-in-out;
}

/* Cores das barras */
.progress.html { width: 10%; background-color: #e34c26; }
.progress.css { width: 10%; background-color: #264de4; }
.progress.js { width: 10%; background-color: #f0db4f; color:#000; }
.progress.react { width: 10%; background-color: #61dafb; color:#000; }
.progress.git { width: 10%; background-color: #f1502f; }
.progress.github { width: 10%; background-color: #000; }
.progress.uiux { width: 10%; background-color: #6a0dad; }

/* Coluna da imagem */
.image img {
  max-width: 250px;   /* largura fixa */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
